@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Приложение ввод сотрудников</h1>
     <div class="form-group">
        <a asp-controller="Sotrudnik" asp-action="index" type="button" class="btn btn-primary">Войти</a>
     </div>
</div>
